@charset="utf-8";

* {box-sizing:border-box;}
ul , li {list-style:none; margin:0; padding:0;}

ul[data-attr$="Box"] {position:relative; display:flex; width:1200px; height:300px; margin:0 auto; overflow:hidden;}
ul[data-attr$="Box"] li {position:absolute; left:0; width:100%; height:100%;}
ul[data-attr$="Box"] img {width:100%; height:100%;}