@charset "utf-8"
/*리셋*/
body,html {margin:0px; padding:0px;}
figure {margin:0;}
ul,li {list-style:none; margin:0; padding:0;}
a {text-decoration:none;}
a:visited {color:inherit;}

body {color:#222328;}

.Ir {position:absolute; text-indent: -9999px;}

/*바로가기 태그*/
div[data-skip] {position:relative;}
div[data-skip] > a {position:absolute; display:inline-block; background:black; top:-100px; right:0; outline:1px solid red; font-size:2rem;}
div[data-skip] > a:focus {top:0; color:white;}


/*헤더 태그*/
div[data-grid-layout-center] {display:flex; justify-content:center;}
section[data-grid-layout] {display:grid; grid-template-columns:repeat(12,100px); grid-template-rows:100px 300px 200px 100px; margin:0 auto; }

/*헤더 태그 > figure 태그 > logo*/
header[data-header] {display:contents;}
figure[data-header-logo-box] {grid-column:span 4; position:relative; align-self:center; justify-self:center;}
img[data-header-logo-image] {position:absolute;}
figcaption[data-header-logo-link] {position:absolute;}
.logo_size {width:200px; height:40px;}
a[data-header-logo-link] {display:inline-block; color:transparent;}
nav[data-header-navigation] {grid-column:span 8; display:flex; justify-content:space-around; align-items:stretch; }
ul[data-main-menu] {display:flex; flex:1 1 auto; align-items:center; cursor:pointer; }
ul[data-main-menu] > li {position:relative; display:flex; flex:1 1 auto;  justify-content: center; font-size:1.5rem;}
ul[data-sub-menu] {width:100%; position:absolute; top:2.7em; text-align:center; }
ul[data-sub-menu] > li {font-size:1.2rem; padding:0;  max-height:0; transition-property: max-height, padding,color; transition-duration: 0.5s; transition-timing-function: ease-in-out; color:transparent;}
ul[data-sub-menu] > li:last-child {margin:0;}
ul[data-main-menu]:hover > li > ul[data-sub-menu] > li , ul[data-main-menu] > li:hover > ul[data-sub-menu] > li {z-index:10; padding:0.45rem 0 0.45rem 0; max-height:200px; transition-property: max-height,padding,color; transition-duration: 0.5s; transition-timing-function:ease-in-out; color:white;}
/*main , sub 는 rem 간격은 rem으로 통일되어 있다.*/

/*ul[data-main-menu] {background-color:black; opacity:0.9; color:white;}*/
ul[data-main-menu] {color:white; border:1px solid white;}
ul[data-main-menu]:nth-child(1) {background-color:#FF00DE;}
ul[data-main-menu]:nth-child(2) {background-color:#AE00FF;}
ul[data-main-menu]:nth-child(3) {background-color:#6600FF;}
ul[data-main-menu]:nth-child(4) {background-color:#3600FF;}
ul[data-sub-menu] > li {color:white; border:1px solid white;}
ul[data-main-menu]:nth-child(1) > li > ul > li:nth-child(1) {background-color:#FF00DE;}
ul[data-main-menu]:nth-child(1) > li > ul > li:nth-child(2) {background-color:#AE00FF;}
ul[data-main-menu]:nth-child(1) > li > ul > li:nth-child(3) {background-color:#6600FF;}
ul[data-main-menu]:nth-child(1) > li > ul > li:nth-child(4) {background-color:#3600FF;}

ul[data-main-menu]:nth-child(2) > li > ul > li:nth-child(1) {background-color:#AE00FF;}
ul[data-main-menu]:nth-child(2) > li > ul > li:nth-child(2) {background-color:#6600FF;}
ul[data-main-menu]:nth-child(2) > li > ul > li:nth-child(3) {background-color:#3600FF;}
ul[data-main-menu]:nth-child(2) > li > ul > li:nth-child(4) {background-color:#FF00DE;}

ul[data-main-menu]:nth-child(3) > li > ul > li:nth-child(1) {background-color:#6600FF;}
ul[data-main-menu]:nth-child(3) > li > ul > li:nth-child(2) {background-color:#3600FF;}
ul[data-main-menu]:nth-child(3) > li > ul > li:nth-child(3) {background-color:#FF00DE;}
ul[data-main-menu]:nth-child(3) > li > ul > li:nth-child(4) {background-color:#AE00FF;}

ul[data-main-menu]:nth-child(4) > li > ul > li:nth-child(1) {background-color:#3600FF;}
ul[data-main-menu]:nth-child(4) > li > ul > li:nth-child(2) {background-color:#FF00DE;}
ul[data-main-menu]:nth-child(4) > li > ul > li:nth-child(3) {background-color:#AE00FF;}
ul[data-main-menu]:nth-child(4) > li > ul > li:nth-child(4) {background-color:#6600FF;}


/*이미지 슬라이더*/
figure[data-image-slider] {grid-column:span 12;}

/*공지사항 , 배너 , 바로가기*/
section[data-etc-section] {display:contents;}
article[data-etc-section-notice] {grid-column:span 4; border:1px solid black;}
article[data-etc-section-banner] {grid-column:span 4; border:1px solid black;}
article[data-etc-section-link] {grid-column:span 4; border:1px solid black;}

/*풋터 태그*/
footer[data-footer] {display:contents;}
figure[data-footer-logo] {grid-column:span 4; border:1px solid black;}
article[data-footer-copyright] {grid-column:span 4; border:1px solid black;}
article[data-footer-sns] {grid-column:span 4; border:1px solid black;}


