@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

.wrap {
    max-width: 1200px;
    height: 400px;
    margin: auto;
    border: 2px solid black;
    overflow:hidden;
}

.wrap .imageContainer {
    display: flex;
    width: 400%;
    height:100%;
}

.wrap .imageContainer img {
    height: 100%;
    width: 100%;
}

.wrap .imageContainer.transitionImg {
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}