@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

.wrap2 {
    max-width: 1200px;
    height: 400px;
    margin: auto;
    border: 2px solid black;
    /*overflow:hidden;*/
}

.wrap2 .imageContainer2 {
    position:relative;
    display: flex;
    width: 400%;
    height:100%;
}

.wrap2 .imageContainer2 img {
    height: 100%;
    width: 100%;
}

.wrap2 .imageContainer2.transitionImg2 {
    transition-property: left,right;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    left:0;
}